<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Криптокошелёк | WebExchange</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:insert="temps::default"></div>
    <div th:insert="temps::crypto"></div>
</head>

<body>
    <header th:insert="temps::header"></header>
    <section class="section justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <table class="table table-dark" id="tab">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Курс</th>
                                <th>Количество</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="currency : ${currs}">
                                <td th:text="${currency.currency.name}">
                                <td th:text='${#numbers.formatDecimal(currency.currency.rate, 1, 2) + " $"}'>
                                <td th:text='${#numbers.formatDecimal(currency.count, 1, 5)}'>
                                <td><button type="button" class="btn btn-warning trade" th:value="${currency.currency.name}">Торговать!</button></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </section>
    <footer th:insert="temps::footer"></footer>
</body>

</html>