<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Криптобиржа | WebExchange</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:insert="temps::default"></div>
    <div th:insert="temps::crypto"></div>
</head>

<body>
    <header th:insert="temps::header"></header>
    <section class="section justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="alert alert-warning" th:if="${msg != null}" th:text="${msg}"></div>
                    <center sec:authorize="hasRole('ROLE_ADMIN')"><a th:attr='class=${btn}' th:href="@{/update}"
                        th:text="${col} ? 'Выключить автообновление' : 'Включить автообновление'"></a></center>
                    <br>
                    <table class="table table-dark" id="tab">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Курс</th>
                                <th>Изменение за час</th>
                                <th>Изменение за день</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="currency : ${currs}">
                                <td th:text="${currency.name}">
                                <td th:text='${#numbers.formatDecimal(currency.rate, 1, 2) + " $"}'>
                                    <td th:style="|${currency.change_hour >= 0 ? 'color: green;' : 'color: red;' }|" th:text='${#numbers.formatDecimal(currency.change_hour, 1, 3) + " %"}'>
                                    <td th:style="|${currency.change_day >= 0 ? 'color: green;' : 'color: red;' }|" th:text='${#numbers.formatDecimal(currency.change_day, 1, 3) + " %"}'>
                                    <td><button type="button" class="btn btn-warning trade" th:value="${currency.name}">Торговать!</button></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="executeModal" tabindex="-1" aria-labelledby="executeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="executeModalLabel">Подтверждение операции</h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-success" form="post_form">Да</button>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="temps::footer"></footer>
</body>

</html>